.events-bg {
  background-color: #F1F3F4
}

.events-home {
  width: 100%;

  .search-container {}

  .event-list-container {
    margin-top: 10px;
    padding: 0 25px;

    .no-event {
      height: -webkit-fill-available;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
