.event-item {
  .event-item--evetn-img {
    height: 50vh !important;
    object-fit: none !important
  }

  .event-details {
    display: grid;
    grid-template-columns: 20% 75%;
    grid-gap: 5%;

    .event-details--date {
      text-align: center;
      border: 1px solid lightgray;
      border-radius: 5px;

      h3 {
        color: red
      }
    }
  }

  .event-item--action-btn {
    text-align: center;

    button {
      width: 50%;
      text-transform: uppercase;
    }
  }
}
