<div class="event-details">
  <mat-card class="event-name">
    <h1>{{eventDetails?.event_name}}</h1>
    <p> Available Seats: <b>{{eventDetails?.available_seats}}</b></p>
  </mat-card>

  <div class="success-message" [innerHTML]="successMessage">
  </div>

  <div class="booking-form-container">
    <mat-card class="booking-fom-details">
      <div>
        <form [formGroup]="eventBookingForm">
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <span matPrefix><i class="material-icons">
                  account_circle
                </i></span>
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="name" />
              <mat-error *ngIf="eventBookingForm.controls['name'].hasError('required')">
                Name is required
              </mat-error>
              <mat-error *ngIf="eventBookingForm.controls['name'].hasError('pattern')">
                Only letters and spaces are allowed
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <span matPrefix><i class="material-icons">
                  email
                </i></span>
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" />
              <mat-error *ngIf="eventBookingForm.controls['email'].hasError('required')">
                Please enter your email
              </mat-error>
              <mat-error *ngIf="eventBookingForm.controls['email'].hasError('email')">
                Invalid email
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <span matPrefix><i class="material-icons">
                  stay_primary_portrait
                </i></span>
              <mat-label>Phone Number</mat-label>
              <input matInput formControlName="phone_number" maxlength="10" (keypress)=_keyPress($event) />
              <mat-error *ngIf="eventBookingForm.controls['phone_number'].hasError('required')">
                Phone Number is required
              </mat-error>
              <mat-error *ngIf="eventBookingForm.controls['phone_number'].hasError('pattern')">
                enter Valid Phone Number
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-100">
              <span matPrefix><i class="material-icons">
                  event_seat
                </i></span>
              <mat-label>No. of Seats</mat-label>
              <mat-select formControlName="seleted_seats">
                <mat-option *ngFor="let seat of [1,2,3]" (click)="selectedSeats(seat)" value="{{seat}}">
                  {{seat}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="eventBookingForm.controls['seleted_seats'].hasError('required')">
                Please enter number of seats
              </mat-error>
              <mat-error *ngIf="eventBookingForm.controls['seleted_seats'].hasError('max')">
                Number of seats selected is more than available seats
              </mat-error>
            </mat-form-field>
          </div>
          <div formArrayName="Attendees">
            <div *ngFor="let itemrow of eventAttendees.controls; let i=index" [formGroupName]="i">
              <div>
                <mat-form-field appearance="outline" class="w-100">
                  <span matPrefix><i class="material-icons">
                      account_circle
                    </i></span>
                  <mat-label>Name of Attendee{{i+1}}</mat-label>
                  <input matInput type="text" formControlName="attendee_name" />

                  <mat-error *ngIf="itemrow.controls['attendee_name'].hasError('required')">
                    Please enter the name of Attendee {{i+1}}
                  </mat-error>
                  <mat-error *ngIf="itemrow.controls['attendee_name'].hasError('pattern')">
                  Only letters and spaces are allowed
                </mat-error>

                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="action-btns">
            <button mat-raised-button color="primary" [disabled]="booked === false" (click)="submit()">Submit</button>
            <button mat-raised-button color="primary" [disabled]="booked === false"
              [routerLink]="['/event']">Cancel</button>
          </div>
        </form>
      </div>
      <div>
        <div *ngIf="showBookingDetails" class="booking-details">
          <h3>Booking Details</h3>
          <p> <b>Name</b>: {{eventBookingForm.value.name}}</p>
          <p> <b>Email</b>: {{eventBookingForm.value.email}}</p>
          <p> <b>Phone Number</b>: {{eventBookingForm.value.phone_number}}</p>
          <p> <b>No. of Seats</b>: {{eventBookingForm.value.seleted_seats}}</p>
          <p> <b>Attendees</b>: <span
              *ngFor="let item of eventBookingForm.value.Attendees; let isLast=last">{{item?.attendee_name}}{{isLast ? '' : ', '}}</span>
          </p>
        </div>
      </div>
    </mat-card>

  </div>
</div>
