.event-details {
  background-color: #f2f3f2;
  height: -webkit-fill-available;

  .event-name {
    text-align: center;
    letter-spacing: 2px;
  }

  .booking-form-container {
    margin-top: 10px;
    text-align: center;
  }
}
